h1{
    font: 300;
   font-size: large;
   margin-bottom: 100px;
   display: inline-block;
   background-color:azure;
   border: 3px solid darkorchid;
   padding: 30px 40px;
   margin: 20px;
   display: inline-block;
   margin: 20px;
}
p{
    font-size: small;
}
